@import './variables/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #F2F2F2;
}

.app {
  display: flex;
  flex-direction: column;
}